In [1]:
# Sept 16, 2024

In [2]:
# logical conditionals for the purpose of 
# boolean expression

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/KeithGalli/pandas/master/pokemon_data.csv"
# fail https://github.com/KeithGalli/pandas/blob/master/pokemon_data.csv
pokeaman = pd.read_csv(url)

In [5]:
pokeaman.sort_values('Attack', ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False

In [9]:
# Boolean selection. 
# Only pokeman that are legendary
pokeaman[pokeaman['Legendary']]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [21]:
pokeaman[pokeaman['Type 2'] == 'Ghost']
pokeaman[pokeaman['Type 1'] == 'Ghost']
# Can't be both, type 1 = ghost and type 2 = ghost

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
99,92,Gastly,Ghost,Poison,30,35,30,100,35,80,1,False
100,93,Haunter,Ghost,Poison,45,50,45,115,55,95,1,False
101,94,Gengar,Ghost,Poison,60,65,60,130,75,110,1,False
102,94,GengarMega Gengar,Ghost,Poison,60,65,80,170,95,130,1,False
215,200,Misdreavus,Ghost,NaN,60,60,60,85,85,85,2,False
385,353,Shuppet,Ghost,NaN,44,75,35,63,33,45,3,False
386,354,Banette,Ghost,NaN,64,115,65,83,63,65,3,False
387,354,BanetteMega Banette,Ghost,NaN,64,165,75,93,83,75,3,False
388,355,Duskull,Ghost,NaN,20,40,90,30,90,25,3,False
389,356,Dusclops,Ghost,NaN,40,70,130,60,130,25,3,False
472,425,Drifloon,Ghost,Flying,90,50,34,60,44,70,4,False
473,426,Drifblim,Ghost,Flying,150,80,44,90,54,80,4,False
477,429,Mismagius,Ghost,NaN,60,60,60,105,105,105,4,False
490,442,Spiritomb,Ghost,Dark,50,92,108,92,108,35,4,False
529,477,Dusknoir,Ghost,NaN,45,100,135,65,135,45,4,False
544,487,GiratinaAltered Forme,Ghost,Dragon,150,100,120,100,120,90,4,True
545,487,GiratinaOrigin Forme,Ghost,Dragon,150,120,100,120,100,90,4,True
623,562,Yamask,Ghost,NaN,38,30,85,55,65,30,5,False
624,563,Cofagrigus,Ghost,NaN,58,50,145,95,105,30,5,False
668,607,Litwick,Ghost,Fire,50,30,55,65,55,20,5,False
669,608,Lampent,Ghost,Fire,60,40,60,95,60,55,5,False
670,609,Chandelure,Ghost,Fire,60,55,90,145,90,80,5,False
778,708,Phantump,Ghost,Grass,43,70,48,50,60,38,6,False
779,709,Trevenant,Ghost,Grass,85,110,76,65,82,56,6,False
780,710,PumpkabooAverage Size,Ghost,Grass,49,66,70,44,55,51,6,False
781,710,PumpkabooSmall Size,Ghost,Grass,44,66,70,44,55,56,6,False
782,710,PumpkabooLarge Size,Ghost,Grass,54,66,70,44,55,46,6,False
783,710,PumpkabooSuper Size,Ghost,Grass,59,66,70,44,55,41,6,False
784,711,GourgeistAverage Size,Ghost,Grass,65,90,122,58,75,84,6,False
785,711,GourgeistSmall Size,Ghost,Grass,55,85,122,58,75,99,6,False
786,711,GourgeistLarge Size,Ghost,Grass,75,95,122,58,75,69,6,False
787,711,GourgeistSuper Size,Ghost,Grass,85,100,122,58,75,54,6,False

In [37]:
pokeaman[ (pokeaman["HP"] > 80) & (pokeaman["Type 2"] == "Fighting") ]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
67,62,Poliwrath,Water,Fighting,90,95,95,70,90,70,1,False
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
504,454,Toxicroak,Poison,Fighting,83,106,65,86,65,85,4,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
699,638,Cobalion,Steel,Fighting,91,90,129,90,72,108,5,True
700,639,Terrakion,Rock,Fighting,91,129,90,72,90,108,5,True
701,640,Virizion,Grass,Fighting,91,90,72,90,129,108,5,True
713,647,KeldeoOrdinary Forme,Water,Fighting,91,72,90,129,90,108,5,False
714,647,KeldeoResolute Forme,Water,Fighting,91,72,90,129,90,108,5,False
716,648,MeloettaPirouette Forme,Normal,Fighting,100,128,90,77,77,128,5,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False

In [35]:
pokeaman[ (pokeaman["HP"] > 80) | (pokeaman["Type 2"] == "Fighting") ]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
36,31,Nidoqueen,Poison,Ground,90,92,87,75,85,76,1,False
39,34,Nidoking,Poison,Ground,81,102,77,85,75,85,1,False
41,36,Clefable,Fairy,NaN,95,70,73,95,90,60,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
789,713,Avalugg,Ice,NaN,95,117,184,44,46,28,6,False
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [25]:
pokeaman.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [47]:
pokeaman[ (pokeaman['Attack'] < 50) & (pokeaman['Defense'] > 100) ]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
103,95,Onix,Rock,Ground,35,45,160,30,45,70,1,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
323,299,Nosepass,Rock,NaN,30,45,135,45,90,30,3,False
455,410,Shieldon,Rock,Steel,30,42,118,42,88,30,4,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False

In [55]:
# pokeaman[logical_conditional]
pokeaman[4:10]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [57]:
# With iloc you can index the columns
pokeaman.iloc[4:10, 3:5]

   Type 2  HP
4     NaN  39
5     NaN  58
6  Flying  78
7  Dragon  78
8  Flying  78
9     NaN  44

In [61]:
# .loc
pokeaman[4:10, ['Attack', 'Defence']]

# know the difference way to index dataframes.

InvalidIndexError: (slice(4, 10, None), ['Attack', 'Defence'])

little x is what actually happened
The concept of an event and the actual happening of the event

We will use P(A) for the probability of an event. 
Pr(A) or Pr(X = x)

The probability A happens given that I know about B (A is dependant on B possibly)
Pr(A|B) 

Chatbot is a conditional probabiity model, all of next word choices, some are more likely, 

Markov, Only find the probability of the next wood based on the current word 

Bigram: Depends on 2 two previous words and the current word to determine what the next word will be. 

Knowing B does not change the probability of A happening (chatbots that operate indenpend like below are random)
Pr(A) = P(A|B)

Multinomial Distributions
The output of a chatbot is a multinomial distributions. 
You must predict the next word in a list of words. 

    Imagine you have a certain number of choices and you can pick multiple (select 2 types of chips from a selection)

In [65]:
# numerical python
import numpy as np
# scientific python (we use it in stats)
from scipy import stats

# This is an independent 
stats.multinomial(n=2 , p=[0.9, 0.05, 0.05]).rvs(size=1)

# To have it not be dependant its more complex 
# Chatbots work independent of eachother but dependent on their words.

array([[2, 0, 0]])

Use initial seed, helps for quaility control, the random numbers are generated the same way every time

Read the textbook. 

Learn about random.choice() and understand what its doing.

Independant events P(A)
dependant events P(A|B)
iloc 
loc 
indexing by name and numbers 
Chatbots depend on the current word and previous word to determine the next word. 
Chatbots are independent of eachother
seeds are a way to make sure random genreation happens the same time every time. Good for quality control. 
multinomial distribution

Blue flag beaches - check quaility to make sure its good to swim.

Lake O

Do you know how to do composite (multi-part) boolean selection using logical conditionals (with &, |, and ~) to select data? Can you use tuple, list, and dict object types appropriately? How about using a for loop based on a list or not based on a list using range(n) correctly with 0-based indexing?

Do you know what scipy.stats.multinomial and np.random.choice have in common (and what they don't), and what independence and conditional probability might (or might not) have to do with them?

Any chance you might be willing to check out what these weekly optional "ChatBot" surveys are like to see if you might be willing or interested to share your experience using ChatBots in the course so far?

Week 02 ChatBot Experience Survey

This one asks about your experience through what we've been using ChatBots to do in Week 01 and/or Week 02... in case it strikes you that you might have some feedback to share?

In [70]:
import numpy as np
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-08-11/avatar.csv"
avatar = pd.read_csv(url) #avatar.isnull().sum() #avatar[avatar.isnull().sum(axis=1)>0]

In [72]:
avatar.head()

,id,book,book_num,chapter,chapter_num,character,full_text,character_words,writer,director,imdb_rating
0,1,Water,1,The Boy in the Iceberg,1,Katara,Water. Earth. Fire. Air. My grandmother used t...,Water. Earth. Fire. Air. My grandmother used t...,"‎Michael Dante DiMartino, Bryan Konietzko, Aar...",Dave Filoni,8.1
1,2,Water,1,The Boy in the Iceberg,1,Scene Description,"As the title card fades, the scene opens onto ...",NaN,"‎Michael Dante DiMartino, Bryan Konietzko, Aar...",Dave Filoni,8.1
2,3,Water,1,The Boy in the Iceberg,1,Sokka,It's not getting away from me this time. [Clos...,It's not getting away from me this time. Watc...,"‎Michael Dante DiMartino, Bryan Konietzko, Aar...",Dave Filoni,8.1
3,4,Water,1,The Boy in the Iceberg,1,Scene Description,"The shot pans quickly from the boy to Katara, ...",NaN,"‎Michael Dante DiMartino, Bryan Konietzko, Aar...",Dave Filoni,8.1
4,5,Water,1,The Boy in the Iceberg,1,Katara,"[Happily surprised.] Sokka, look!","Sokka, look!","‎Michael Dante DiMartino, Bryan Konietzko, Aar...",Dave Filoni,8.1

In [74]:
avatar.dtypes # Characters are an object, change them to string

id                   int64
book                object
book_num             int64
chapter             object
chapter_num          int64
character           object
full_text           object
character_words     object
writer              object
director            object
imdb_rating        float64
dtype: object

In [100]:
print((avatar['character'].str.upper() + ": " + avatar['full_text'] + "\n\n").values[:4].sum())

KATARA: Water. Earth. Fire. Air. My grandmother used to tell me stories about the old days: a time of peace when the Avatar kept balance between the Water Tribes, Earth Kingdom, Fire Nation and Air Nomads. But that all changed when the Fire Nation attacked. Only the Avatar mastered all four elements; only he could stop the ruthless firebenders. But when the world needed him most, he vanished. A hundred years have passed, and the Fire Nation is nearing victory in the war. Two years ago, my father and the men of my tribe journeyed to the Earth Kingdom to help fight against the Fire Nation, leaving me and my brother to look after our tribe. Some people believe that the Avatar was never reborn into the Air Nomads and that the cycle is broken, but I haven't lost hope. I still believe that, somehow, the Avatar will return to save the world.

SCENE DESCRIPTION: As the title card fades, the scene opens onto a shot of an icy sea before panning slowly to the left, revealing more towering icebergs drifting in the water as the shot rotates, moving over a large snow-covered area where the untouched blanket of snow is broken by two tracks of footsteps. The shot fades to another shot of the sea and of icebergs in blue water contrasted by the paleness of the sky beyond. As the shot once again pans to the left and rotates likewise, a small canoe comes into view, its motion through the water indicated by the wake left behind it. The shot zooms slightly on the canoe before cutting down to it, providing a side angle of the canoe and of the walls of ice rising on either side of the vessel. Two people, a boy and a girl, are sitting in the boat; the boy holds a spear at the ready, while the girl simply stares into the water on the other side of the boat. The shot cuts to an overhead view, revealing that a fish is swimming close to the surface right in front of the boy, who is focused on it, following its every movement. Cut to a frontal view of him.

SOKKA: It's not getting away from me this time. [Close-up of the boy as he grins confidently over his shoulder in the direction of the girl.] Watch and learn, Katara. This is how you catch a fish.

SCENE DESCRIPTION: The shot pans quickly from the boy to Katara, who seems indifferent to his claim and turns back to her side of the boat again. Her expression changes to surprise; as the shot jumps behind her, looking down into the water over her shoulder, another fish quickly swims by her, close to where she sits. She shoots a quick glance toward her brother, removing the glove from her left hand. She stretches her arm out in the direction of the fish, taking a deep breath. Her look is a mixture of concentration and apprehension as she starts making a wavy motion with her wrist, moving her hand up and down.
The shot widens out; Sokka, still focused wholly on the fish in front of him, is completely unaware of what is happening behind his back. As Katara continues to move her hand, the water in front of Katara, just in front of the shot, starts to ripple. Suddenly, a bubble of water rises up from the ocean containing the newly trapped fish.

In [103]:
avatar.dtypes

id                   int64
book                object
book_num             int64
chapter             object
chapter_num          int64
character           object
full_text           object
character_words     object
writer              object
director            object
imdb_rating        float64
dtype: object

In [105]:
avatar.character.value_counts()

character
Scene Description    3393
Aang                 1796
Sokka                1639
Katara               1437
Zuko                  776
                     ...
The Hippo               1
Audience                1
Young Mai               1
Old woman               1
Katara and Sokka        1
Name: count, Length: 374, dtype: int64

In [111]:
avatar['character'].value_counts()
# Counts the number of times that character appears. 
# how many times is katara saying somthing talking.

character
Scene Description    3393
Aang                 1796
Sokka                1639
Katara               1437
Zuko                  776
                     ...
The Hippo               1
Audience                1
Young Mai               1
Old woman               1
Katara and Sokka        1
Name: count, Length: 374, dtype: int64

In [113]:
# How many entries there are in the chapter. 
avatar.chapter.value_counts()

chapter
The Fortuneteller                          331
The Warriors of Kyoshi                     304
City of Walls and Secrets                  293
Jet                                        290
The Desert                                 286
                                          ...
The Siege of the North, Part 2             161
Sozin's Comet, Part 3: Into the Inferno    151
The Blue Spirit                            144
Appa's Lost Days                           106
Sozin's Comet, Part 4: Avatar Aang          91
Name: count, Length: 61, dtype: int64

In [123]:
words = ("\n"+avatar.character.str.upper().str.replace(' ','.')+": "+avatar.full_text+" ").sum().split(' ')

In [119]:
avatar[:10]
# Characters talk in sentences 
# Describing someone action is not the same language
# In full_text there are actions and character speaking.

,id,book,book_num,chapter,chapter_num,character,full_text,character_words,writer,director,imdb_rating
0,1,Water,1,The Boy in the Iceberg,1,Katara,Water. Earth. Fire. Air. My grandmother used t...,Water. Earth. Fire. Air. My grandmother used t...,"‎Michael Dante DiMartino, Bryan Konietzko, Aar...",Dave Filoni,8.1
1,2,Water,1,The Boy in the Iceberg,1,Scene Description,"As the title card fades, the scene opens onto ...",NaN,"‎Michael Dante DiMartino, Bryan Konietzko, Aar...",Dave Filoni,8.1
2,3,Water,1,The Boy in the Iceberg,1,Sokka,It's not getting away from me this time. [Clos...,It's not getting away from me this time. Watc...,"‎Michael Dante DiMartino, Bryan Konietzko, Aar...",Dave Filoni,8.1
3,4,Water,1,The Boy in the Iceberg,1,Scene Description,"The shot pans quickly from the boy to Katara, ...",NaN,"‎Michael Dante DiMartino, Bryan Konietzko, Aar...",Dave Filoni,8.1
4,5,Water,1,The Boy in the Iceberg,1,Katara,"[Happily surprised.] Sokka, look!","Sokka, look!","‎Michael Dante DiMartino, Bryan Konietzko, Aar...",Dave Filoni,8.1
5,6,Water,1,The Boy in the Iceberg,1,Sokka,"[Close-up of Sokka; whispering.] Sshh! Katara,...","Sshh! Katara, you're going to scare it away. ...","‎Michael Dante DiMartino, Bryan Konietzko, Aar...",Dave Filoni,8.1
6,7,Water,1,The Boy in the Iceberg,1,Scene Description,"Behind Sokka, Katara is still making circular ...",NaN,"‎Michael Dante DiMartino, Bryan Konietzko, Aar...",Dave Filoni,8.1
7,8,Water,1,The Boy in the Iceberg,1,Katara,[Struggling with the water that passes right i...,"But, Sokka! I caught one!","‎Michael Dante DiMartino, Bryan Konietzko, Aar...",Dave Filoni,8.1
8,9,Water,1,The Boy in the Iceberg,1,Scene Description,The bubble containing her fish slowly drifts a...,NaN,"‎Michael Dante DiMartino, Bryan Konietzko, Aar...",Dave Filoni,8.1
9,10,Water,1,The Boy in the Iceberg,1,Katara,[Exclaims indignantly.] Hey!,Hey!,"‎Michael Dante DiMartino, Bryan Konietzko, Aar...",Dave Filoni,8.1

In [125]:
# from collections import default dict 
# markovian chatbot 
word_used = dict()
next_word = dict()

# loop through each word but remember the index of the word we are at. 
for i,word in enumerate(words[:-1]):
    if word in word_used:
        word_used[word] += 1
    else:
        word_used[word] = 1
        next_word[word] = {}

    if words[i+1] in next_word[word]:
        next_word[word][words[i+1]] += 1
    else:
        next_word[word][words[i+1]] = 1

word_used = {
    "katara": 1
}

next_word = {
    "katara": {
        "wind": 1
    }
}

In [131]:
word_used

63

In [141]:
next_word['Katara']

{'continues': 2,
 'is': 72,
 'to': 13,
 'follows': 3,
 'has': 5,
 'smiles': 8,
 'and': 249,
 'nearly': 1,
 'gets': 5,
 'points': 4,
 '...': 3,
 'as': 24,
 'turns': 20,
 'cast': 1,
 'strays': 1,
 'grabs': 6,
 'back,': 1,
 'hops': 1,
 'repeatedly': 2,
 'holding': 5,
 'gasps': 3,
 'places': 4,
 'looks': 35,
 'glances': 5,
 'scrambles': 1,
 'appear': 2,
 'covers': 3,
 'crawls': 4,
 'glares': 4,
 'perches': 1,
 'takes': 5,
 'pulls': 6,
 'immediately': 2,
 'away': 1,
 'opens': 5,
 'laughs': 1,
 'approaches': 9,
 'comes': 5,
 'laugh.': 2,
 'use': 2,
 'ponders': 1,
 'on': 9,
 'into': 6,
 'reach': 1,
 'down.': 1,
 'appearing': 1,
 'approaching': 2,
 'draw': 1,
 'had': 1,
 'with': 13,
 'remains': 3,
 'runs': 19,
 'helping': 1,
 'quickly': 5,
 'shoots': 3,
 'who': 21,
 'riding': 4,
 'leaning': 1,
 'helped': 1,
 'still': 7,
 'stare': 3,
 'sit': 4,
 'in': 13,
 'atop': 1,
 'giggles,': 1,
 'sitting': 6,
 'moves': 1,
 'stands': 12,
 'sadly': 2,
 'are': 29,
 'walks': 21,
 'visible': 1,
 'appears': 5,
 'peek': 1,
 'suddenly': 3,
 'fights': 1,
 'shouts': 1,
 'taking': 3,
 'hugs': 4,
 'angrily': 3,
 'addresses': 1,
 'reappears': 1,
 'standing': 10,
 'for': 1,
 'supports': 1,
 'pokes': 1,
 'picks': 3,
 "you've": 1,
 'munches': 1,
 'resumes': 1,
 'balls': 1,
 'crosses': 1,
 'entering': 1,
 'reaches': 1,
 'violently': 1,
 'protectively': 2,
 'lays': 1,
 'questioningly': 1,
 'flashes': 1,
 'turn': 1,
 'scream': 2,
 'screaming': 1,
 'slants': 1,
 'darts': 1,
 'tries': 5,
 'along': 1,
 'look': 6,
 'run': 6,
 'awkwardly': 1,
 'hunches': 1,
 'carries': 1,
 'realizes': 1,
 'working': 1,
 'eyes': 1,
 'away,': 1,
 'knows': 1,
 'enters': 5,
 'a': 3,
 'provide': 1,
 'kneels': 2,
 'of': 1,
 'lying': 3,
 'watch.': 1,
 'awaits': 1,
 'pop': 1,
 'exchange': 1,
 'charged': 1,
 'being': 1,
 'approach': 3,
 'puts': 9,
 'stares': 3,
 'walking': 5,
 'stand': 5,
 'looking': 10,
 'quietly': 1,
 'tied': 1,
 'pushing': 2,
 'performs': 1,
 'from': 4,
 'next': 1,
 'clears': 1,
 'blushes': 3,
 'made;': 1,
 'about': 1,
 'stop': 2,
 'walk': 3,
 'bend': 1,
 'watches': 2,
 'behind': 1,
 'does': 2,
 'stands.': 1,
 'finishes,': 1,
 'outside': 1,
 'fly': 1,
 'where': 1,
 'rises': 2,
 'can': 1,
 'bends': 13,
 'continue': 1,
 'seat': 1,
 'occurs': 1,
 'exits': 1,
 'out': 2,
 'before': 2,
 'seated': 1,
 'seen': 1,
 'formed.': 1,
 'having': 3,
 'secure': 1,
 'joins': 2,
 'waterbends': 6,
 'kisses': 1,
 'huddle': 1,
 'put': 1,
 'chooses': 1,
 'removes': 1,
 'shrieks': 1,
 'running': 6,
 'at': 2,
 'landing': 1,
 'freezes': 5,
 'popping': 1,
 'briefly': 1,
 'clearly': 1,
 'exits.': 1,
 'starts': 4,
 'edges': 1,
 'slides': 2,
 'charges': 1,
 'falls': 1,
 'lifts': 1,
 'coming': 4,
 'uses': 13,
 'assumes': 1,
 'conjures': 1,
 'blocks': 1,
 'sends': 3,
 'waves': 1,
 'fires': 1,
 'readying': 1,
 'huddled': 1,
 'awakens': 1,
 'covering': 1,
 'hears': 1,
 'summoning': 1,
 'becomes': 2,
 'completely.': 1,
 'back': 1,
 'rise': 1,
 'jumps': 3,
 'gestures': 1,
 'exchanged': 1,
 'narrates': 1,
 'studies': 1,
 'shield': 1,
 'blushes.': 1,
 'spots': 1,
 'raises': 2,
 'just': 2,
 'enter': 2,
 'gives': 6,
 'wants': 2,
 'gazes': 2,
 'reacts': 1,
 'shows': 2,
 'easily': 1,
 'head': 1,
 'pointed.]': 1,
 'manages': 4,
 'clamps': 1,
 'glancing': 1,
 'begins': 4,
 'gasps,': 1,
 'come': 1,
 'cuts': 1,
 'high': 1,
 'saw': 1,
 'was': 4,
 'charging': 1,
 'lost': 1,
 'follow': 1,
 'smile': 2,
 'emerge': 1,
 'holds': 3,
 'confront': 1,
 'talks,': 1,
 'while': 1,
 'sits': 4,
 'catches': 3,
 'raise': 1,
 'sneaks': 1,
 'whips': 1,
 'land': 1,
 'jump': 1,
 'lie': 1,
 'flying': 4,
 'off': 1,
 'hangs': 1,
 'tosses': 1,
 'mounted': 1,
 'steps': 1,
 'attempts': 2,
 'resting': 2,
 'watches.': 1,
 'stops': 2,
 'move': 1,
 'also': 1,
 'meets': 1,
 'search': 1,
 'climb': 2,
 'fall': 1,
 'land.': 1,
 'calls': 1,
 'leading': 1,
 'leads': 4,
 'retraces': 1,
 'sighs': 2,
 'directs': 1,
 'calmly': 1,
 'goes': 1,
 'spot': 1,
 'an': 1,
 'when': 1,
 'backs': 2,
 'navigates': 1,
 'stays': 1,
 'sheds': 1,
 'embrace,': 1,
 'nod': 1,
 'Water': 1,
 'might': 1,
 'notices': 4,
 'following': 1,
 'stick': 1,
 'jogs': 1,
 'wheels': 1,
 'should': 1,
 'destroy': 1,
 'closes': 2,
 'somberly': 1,
 'thinks': 1,
 'creates': 4,
 'become': 2,
 'go,': 1,
 'in?': 1,
 'encases': 1,
 'fighting.': 1,
 'go': 1,
 'leave.': 1,
 'placing': 1,
 'hide': 1,
 'explained': 1,
 'returns': 1,
 'wave': 1,
 'shrugs': 1,
 'smiles.': 1,
 'laugh': 1,
 'glance': 1,
 'both': 2,
 'ministers': 1,
 'storms': 2,
 'slips': 1,
 'shocked,': 1,
 'climbs': 1,
 'flinches': 1,
 'suspiciously.': 1,
 'trying': 1,
 'behind.]': 1,
 'grins': 1,
 'wake': 1,
 'all': 1,
 'wringing': 1,
 'hold': 1,
 'square': 1,
 'cleans': 1,
 'shakes': 1,
 'rubbing': 1,
 'too.': 1,
 'embraces': 1,
 'exhales': 1,
 'smiling': 2,
 'hits': 1,
 'clasping': 1,
 'venture': 1,
 'around': 1,
 'directly': 1,
 'subdued.': 1,
 'inhales': 1,
 'pushes': 2,
 'brings': 1,
 'sits,': 1,
 'near': 1,
 'down': 1,
 'anymore.]': 1,
 'interrupts': 1,
 'aids': 1,
 'embracing': 1,
 'inspired': 1,
 'speaking': 1,
 'got': 1,
 'breaks': 1,
 'freezing': 1,
 'help': 1,
 'leans': 1,
 'laughs,': 1,
 'rushes': 2,
 'hesitates': 1,
 'deflects': 1,
 "doesn't": 1,
 'mentioned': 1,
 'emerges': 1,
 'casts': 1,
 'steering': 1,
 'again,': 1,
 'waterbending': 1,
 'using': 1,
 'bloodbends': 1,
 'again.]': 1,
 'leaves': 1,
 'needed.': 1,
 'now': 1,
 'shrugs.': 1,
 'cries.': 1,
 'grits': 1,
 'inch': 1,
 'pops': 1,
 'waves.': 1,
 'rolls': 1,
 'sadly.': 1,
 'over': 1,
 'nods': 1,
 'dodges.': 1,
 'again.': 1,
 'melts': 1,
 'turning': 1,
 'passionately': 1}

In [ ]:
import numpy as np
from scipy import stats

In [135]:
current_word = "\nKatara:".upper()
print(current_word, end=' ')
for i in range(100):
    probability_of_next_word = np.array(list(next_word[current_word].values()))/word_used[current_word]
    randomly_chosen_next_word = stats.multinomial(p=probability_of_next_word, n=1).rvs(size=1)[0,:]
    current_word = np.array(list(next_word[current_word].keys()))[1==randomly_chosen_next_word][0]
    print(current_word, end=' ')

KATARA: Aang?
AANG: How do nothing to Iroh's cell. It is shoving Katara who grips the jewelry-making business.
SCENE.DESCRIPTION: Appa spiraling up.] Take whatever you and Zuko looks at sunset, 370 years in the dragons are you to the army -
KATARA: [Back to stop him.
KATARA: I haven't lost today, I don't you know?
YOUNG.ZUKO: I found Monk Pasang.
GYATSO: Very well.
AANG: Then she tripped over.] Blow all part of the friends to her. Cut to the scooter and looks back to Ozai struggling and made a step changes to get in the tail of her cheek, causing Katara

If we use bigram, we are going to have more combinaion of words in our dictionary appearing less

Actions, characters, spoken words. 

descriptions sequence of words 

different than

dialogue sequences of words should be different because they speak in a different manner.

Katara talks different than Aang.

Add all the words that are in description to end in a '-'
now descritpion words are in a whole new universe of words.

if the word doesnt have a dash its not apart of a description. 

or if there is a dash, you're in a description context. 


words that are in an action context they end with a '_'.

In [146]:
import re
avatar.full_text = avatar.full_text.apply(lambda string: re.sub(r'\[.*?\]', lambda match: match.group(0).replace(' ', '_ '), string))
avatar.loc[avatar.character=='Scene Description','full_text'] = avatar.full_text[avatar.character=='Scene Description'].str.replace(' ', '- ')
words = ("\n"+avatar.character.str.upper().str.replace(' ','.')+": "+avatar.full_text+" ").sum().split(' ')

In [151]:
from collections import Counter, defaultdict

In [153]:
word_used2 = defaultdict(int)
next_word2 = defaultdict(lambda: defaultdict(int))
for i,word in enumerate(words[:-2]):
    word_used2[word+' '+words[i+1]] += 1
    next_word2[word+' '+words[i+1]][words[i+2]] += 1

In [161]:
# next_word2

In [163]:
current_word_1 = "\nKatara:".upper()
current_word_2 = "Water."
print(current_word_1, end=' ')
print(current_word_2, end=' ')
for i in range(100):
    probability_of_next_word = np.array(list(next_word2[current_word_1+' '+current_word_2].values()))/word_used2[current_word_1+' '+current_word_2]
    randomly_chosen_next_word = stats.multinomial(p=probability_of_next_word, n=1).rvs(size=1)[0,:]
    current_word_1,current_word_2 = current_word_2,np.array(list(next_word2[current_word_1+' '+current_word_2].keys()))[1==randomly_chosen_next_word][0]
    print(current_word_2.replace('_', '').replace('-', ''), end=' ')

KATARA: Water. Earth. Fire. Air. My grandmother gave my mother this necklace garbage! You promised a scroll!
ZUKO: I can't handle the hostage trade so you can take the information we need.
ZUKO: [Voiceover.] Uncle, you're the best!
DOCK: Me and my brother and uncle, traveling with the current. It'll take us both, so she's trying to help, she would be hiding in the bone and I can handle a little heavy.
AANG: [Holding up a shell in her hand.] Come on, I found it. The Jasmine Dragon will be the strongest couple in the universe‌?
SCENE.DESCRIPTION: Cut to a scared look

Next we need to understand character, who is responding to who. and how do they speak because they sound differently. Currently, we have different language for description, action and dialogue.